<!-- Content Header (Page header) -->
<div class="content-header">
    <h1>Login</h1>
</div>
<!-- Main content -->
<div class="content body">
    <div class="row" ng-controller="AuthController">
        <div class="col-sm-6">
            <form name="loginForm" data-ng-submit="loginTeacher()" novalidate>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" placeholder="Email" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required
                    />
                </div>
                <div class="form-group">
                    <a href="/forgot">Forgot password ? </a><br/> I am a new member ? <a href="/register">Sign up here</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Login</button>
                    <button type="button" ng-click="loginFB()" class="btn btn-success">Login with Facebook</button>
                </div>
                <div ng-cloak ng-show="errors && errors.length">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div ng-repeat="message in errors"><span data-ng-bind="message"></span></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>