<div class="page-header">
    <h1>{{quiz.name}}</h1>
</div>
<div><strong>ID: </strong> {{quiz._id}}</div>

        <div><strong>Name: </strong> {{quiz.name}}</div>

        <div><strong>Description: </strong> {{quiz.description}}</div>

        <div><strong>Start Date: </strong> {{quiz.start_date}}</div>

        <div><strong>End Date: </strong> {{quiz.end_date}}</div>

        <div><strong>Duration: </strong> {{quiz.duration}}</div>

        <div><strong>Maximum Attempts: </strong> {{quiz.maximum_attempts}}</div>

        <div><strong>Pass Percentage: </strong> {{quiz.pass_percentage}}</div>

        <div><strong>Group Id: </strong> {{quiz.group_id}}</div>

        <div><strong>View Answer: </strong> {{quiz.view_answer}}</div>

        <div><strong>With Login: </strong> {{quiz.with_login}}</div>

        <div><strong>Number Of Question: </strong> {{quiz.number_of_question}}</div>

        <div><strong>Slug: </strong> {{quiz.slug}}</div>

        <div><strong>Status: </strong> {{quiz.status}}</div>

        <div><strong>Created: </strong> {{quiz.created}}</div>

        <div><strong>Modified: </strong> {{quiz.modified}}</div>
