<div class="page-header">
     <h1>List Anwsers</h1> 
</div>
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        {{#each items}}
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">{{_id}}</h4>
                 <p><a href="/anwser/{{_id}}">View detail»</a></p>
            </div>
        </div>
        {{/each}} {{{paginator}}}
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
       
    </div>

</div>