<div class="page-header">
    <h1>{{chapter.name}}</h1>
</div>
<div><strong>ID: </strong> {{chapter._id}}</div>

        <div><strong>Name: </strong> {{chapter.name}}</div>

        <div><strong>Desc: </strong> {{chapter.desc}}</div>

        <div><strong>Slug: </strong> {{chapter.slug}}</div>

        <div><strong>Status: </strong> {{chapter.status}}</div>

        <div><strong>Subject Id: </strong> {{chapter.subject_id}}</div>

        <div><strong>Created: </strong> {{chapter.created}}</div>

        <div><strong>Modified: </strong> {{chapter.modified}}</div>
