<aside class="main-sidebar">
	<section class="sidebar">
	    <ul class="sidebar-menu">
		{{#if credentials.uid}}
	        <li class="header">DASHBOARD</li>
	        <li><a href="/subjects"><i class="fa fa-book"></i> <span>Manage Subjects</span></a></li>
	        <li><a href="/chapters"><i class="fa fa-book"></i> <span>Manage Chapters</span></a></li>
	        <li><a href="/quizzes"><i class="fa fa-book"></i> <span>Manage Quiz</span></a></li>
	        <li><a href="/questions"><i class="fa fa-book"></i> <span>Manage Question</span></a></li>
	        <li><a href="/anwsers"><i class="fa fa-book"></i> <span>Manage Anwser</span></a></li>
		{{else}}
	        <li><a href="/posts"><i class="fa fa-book"></i> <span>Post</span></a></li>
		{{/if}}
	    </ul>
	</section>
</aside>