<section data-ng-controller="QquestionsController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Qquestions</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Qquestion</h3>
                    </div>
                    <form data-ng-submit="update()" novalidate>
                        <div class="box-body">
                            
               <div class="form-group">
                 <label class="control-label" for="status">Status</label>
                <div class="controls">
                    <select class="form-control" ng-init="status = 1" data-ng-model="qquestion.status" id="status" ng-options="item.value as item.name for item in statuses" required>
                    </select>
                </div>
                   
               </div>
              
               <div class="form-group">
                 <label class="control-label" for="desc">Desc</label>
                <div class="controls">
                    <textarea class="form-control " data-ng-model="qquestion.desc" rows="3"> </textarea>
                 </div>
                              
               </div>
              
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary">
                                <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()">
                            </div>
                            <div class="alert alert-danger alert-dismissable" data-ng-show="error">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <div data-ng-bind="error"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
