<section data-ng-controller="<%= controllerName %>Controller" data-ng-init="find()">
    <section class="content-header">
        <h1><%= humanizedPluralName %></h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List <%= humanizedPluralName %></h3>
                        <div class="pull-right">
                            <a class="btn btn-block btn-primary" data-ui-sref="create<%= modelName %>">New</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" name="query" data-ng-model="query" class="form-control input-sm pull-right" placeholder="Search" />
                                <div class="input-group-btn">
                                    <button ng-click="find()" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <table id="table-list" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <% _.forEach(genericObject, function(fieldSetting, field) { %>
                                    <th><%= _.startCase(field) %></th>
                                    <% }) %>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="<%=modelItemName %> in items">
                                    <td><a data-ui-sref="view<%= modelName %>({itemId: <%=modelItemName %>._id})">{{<%=modelItemName %>._id}}</a></td>
                                    <% _.forEach(genericObject, function(fieldSetting, field) { %>
                                    <% if(fieldSetting.type.toLowerCase()=='date'){ %>
                                    <td>{{<%=modelItemName %>.<%= field %> | date:'medium'}}</td>
                                    <% }else if(field=='status'){%>    
                                    <td><span class="label label-success" ng-if="<%= modelItemName %>.status == 1">Publish </span><span class="label label-danger" ng-if="<%= modelItemName %>.status == 0">Unpublish </span></td>
                                    <% }else{ %>
                                    <td>{{<%=modelItemName %>.<%= field %>}}</td>
                                    <% } %>
                                    <% }) %>  
                                    <td>
                                        <a data-ui-sref="edit<%= modelName %>({itemId: <%=modelItemName %>._id})" title="Edit"><i class="glyphicon glyphicon-edit"></i></a> &nbsp; &nbsp;
                                        <a data-ui-sref="view<%= modelName %>({itemId: <%=modelItemName %>._id})" title="Delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul boundary-links="true" items-per-page="itemsPerPage" max-size="numberVisiblePages" uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="find()" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-disabled="blocked"></ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning text-center" data-ng-hide="!items.$resolved || items.length">
                    There is no item found, why don't you <a data-ui-sref="create<%= modelName %>">create one</a>?
                </div>
            </div>
        </div>
    </section>
</section>
