<div class="page-header">
    <h1>{{group.name}}</h1>
</div>
<div><strong>ID: </strong> {{group._id}}</div>

        <div><strong>Name: </strong> {{group.name}}</div>

        <div><strong>Slug: </strong> {{group.slug}}</div>

        <div><strong>Status: </strong> {{group.status}}</div>

        <div><strong>Valid For Days: </strong> {{group.valid_for_days}}</div>

        <div><strong>Price: </strong> {{group.price}}</div>

        <div><strong>Description: </strong> {{group.description}}</div>

        <div><strong>Created: </strong> {{group.created}}</div>

        <div><strong>Modified: </strong> {{group.modified}}</div>
