<div class="page-header">
    <h1>{{question.name}}</h1>
</div>
<div><strong>ID: </strong> {{question._id}}</div>

        <div><strong>Name: </strong> {{question.name}}</div>

        <div><strong>Slug: </strong> {{question.slug}}</div>

        <div><strong>Question Type: </strong> {{question.question_type}}</div>

        <div><strong>Category Id: </strong> {{question.category_id}}</div>

        <div><strong>Subject Id: </strong> {{question.subject_id}}</div>

        <div><strong>Level: </strong> {{question.level}}</div>

        <div><strong>Description: </strong> {{question.description}}</div>

        <div><strong>No Time Corrected: </strong> {{question.no_time_corrected}}</div>

        <div><strong>No Time Incorrected: </strong> {{question.no_time_incorrected}}</div>

        <div><strong>No Time Unattempted: </strong> {{question.no_time_unattempted}}</div>

        <div><strong>Option: </strong> {{question.option}}</div>

        <div><strong>Status: </strong> {{question.status}}</div>

        <div><strong>Created: </strong> {{question.created}}</div>

        <div><strong>Modified: </strong> {{question.modified}}</div>
