<div class="page-header">
    <h1>{{subject.name}}</h1>
</div>
<div><strong>ID: </strong> {{subject._id}}</div>

        <div><strong>Name: </strong> {{subject.name}}</div>

        <div><strong>Desc: </strong> {{subject.desc}}</div>

        <div><strong>User Id: </strong> {{subject.user_id}}</div>

        <div><strong>Slug: </strong> {{subject.slug}}</div>

        <div><strong>Status: </strong> {{subject.status}}</div>

        <div><strong>Created: </strong> {{subject.created}}</div>

        <div><strong>Modified: </strong> {{subject.modified}}</div>
